.body__contenedor{
    display: grid;
    place-items: center;
}

.body__bienvenido{
    color: white;
    padding: 50px;
    font-weight: 700;
    font-size: 40px;
}

@media (max-width: 768px) {
    .body__bienvenido{
        text-align: center;
        font-size: 30px;
        line-height: 40px;

    }
}