@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --negro: #2A2F3D;
    --azul: #00F2FF;
    --naranja: #FF6732;
    --amarillo: #FFCA00;
    --blanco: #FFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 30px;
}

body{
    background-color: var(--negro);
}